<!doctype html>


<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/static/style.css" >
	<title>My 1st page</title>
  <h4>done by:Ahmed Elzahar</h4>

</head>
<body>
  <div id="my_header">
    <h1>My firest site</h1>
 
		<a href="#profile">Profile</a>
	
		<a href="#members">Members</a>
	
	
		<a href="#top">Top Members</a>

</div>
  
	<hr>
	<button type="button"> 
		<a href="/topic/add">Create</a>
	</button>
	<ul>
  <table>
    <col width="130">
    <col width="130">
    <col width="130">
  <tr>
    <th align="left">Titel </th>
    <th align="left">Show </th>
    <th align="left">Edit</th> 
    <th align="left">Delete</th>
  </tr>
  {% for post in posts %}
  <tr>
    <td id="post id:{{post.id}}"></td>
    <td>
      <a href="{{ url_for('topic_show', id = post.id) }}">show</a>
  </td>
    <td>
      <a href="{{ url_for('topic_edit', id = post.id) }}">edit</a>
  </td>
  <td>
    <button class="delete_button"  value="{{post.id}}">  delete</button> 
  </td>
  </tr>
  {% endfor %}
  
</table>
</ul>
</body>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous">
 </script>
 <script>
    $(function ()
    {
        
        $(".delete_button").click(function (event)
        {
         
             var id = $(this).val();
            var url1 = "/api/topic/delete/" + id;
            
            $.ajax({
                type: "DELETE",
                url: url1,
                success: function (response)
                    {
                        alert("item deleted");
                    }
                });            
            
        });

    });
    
    $.ajax({
  dataType: "json",
  url: "/api/topic/all",
  cache:false,
  success: function (data)
         {
         $(data).each(function(index,value){
              document.getElementById("post id:"+value.id).innerHTML = value.title;
              
         });
         }
});
</script> 

