<!doctype html>


<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/static/style.css" >
	<title>My 1st page</title>
  <h4>done by:Ahmed Elzahar</h4>

</head>
<body>
  <div id="my_header">
    <h1>My firest site</h1>
 
		<a href="#profile">Profile</a>
	
		<a href="#members">Members</a>
	
	
		<a  href="#top">Top Members</a>

</div>
  
	<hr>
	<button type="button"> 
		<a href="/topic/add">Create</a>
	</button>
	<ul>
<div id='table'>
</div>
</ul>
</body>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous">
 </script>
 <script>
   var table='';
    $.ajax({
  dataType: "json",
  url: "/api/topic/all",
  cache:false,
  success: function (data)
         {
                table +='<table>';
                table +='<col width="130">';
                table += '<col width="130">';
                table += '<col width="130">';
                table +='<tr>';
                table +='<th align="left">Titel </th>';
                table +='<th align="left">Show </th>';
                table += '<th align="left">Edit</th>';
                table += '<th align="left">Delete</th>';
                table +='</tr>';
         $(data).each(function(index,value){

                table +='<tr>';
                table +='<td>'+value.title+'</td>';
                table +='<td ><a href="/api/topic/show/'+value.id+'">show </a></td>';
                table +='<td ><a href="/topic/edit/'+value.id+'">edit </a></td>';
                table +='<td ><button class="delete_button" '+'value='+value.id+'>delete </button></td>';
                table +='</tr>';
                              
          
              
         });
          table +='</table>'
         document.getElementById("table").innerHTML = table;
         }

});
    $(function ()
    {
        
        $(".delete_button").click(function (event)
        {
         
             var id = $(this).val();
            var url1 = "/api/topic/delete/" + id;
            
            $.ajax({
                type: "DELETE",
                url: url1,
                success: function (response)
                    {
                        alert(url1);
                    }
                });            
            
        });

    });
   
    
</script> 

